@font-face {
	font-family: 'LiberationSerifRegular';
	src: url('../fonts/LiberationSerifRegular/LiberationSerifRegular.eot');
	src: url('../fonts/LiberationSerifRegular/LiberationSerifRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LiberationSerifRegular/LiberationSerifRegular.woff') format('woff'),
		url('../fonts/LiberationSerifRegular/LiberationSerifRegular.ttf') format('truetype');
	font-weight: normal;
}
	@font-face {
	font-family: 'LiberationSerifBold';
	src: url('../fonts/LiberationSerifBold/LiberationSerifBold.eot');
	src: url('../fonts/LiberationSerifBold/LiberationSerifBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LiberationSerifBold/LiberationSerifBold.woff') format('woff'),
		url('../fonts/LiberationSerifBold/LiberationSerifBold.ttf') format('truetype');
	font-weight: bold;
}
	@font-face {
	font-family: 'AndikaW';
	src: url('../fonts/Andika/Andika-R.woff') format('woff'),
	src: url('../fonts/Andika/Andika-R.ttf') format('truetype');
	font-weight: normal;
}
	@font-face {
	font-family: 'FiraMono-Regular';
	src: url('../fonts/Fira/FiraMono-Regular.eot');
	src: url('../fonts/Fira/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Fira/FiraMono-Regular.woff') format('woff'),
		url('../fonts/Fira/FiraMono-Regular.ttf') format('truetype');
	font-weight: normal;
}
	@font-face {
	font-family: 'FiraMono-Regular';
	src: url('../fonts/Fira/FiraMono-Bold.eot');
	src: url('../fonts/Fira/FiraMono-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Fira/FiraMono-Bold.woff') format('woff'),
		url('../fonts/Fira/FiraMono-Bold.ttf') format('truetype');
	font-weight: bold;
}

html
{
	height: 100%;
}
body
{
	margin: auto;
	padding-top: 70px;
	padding-bottom: 0px;
	width: 100%;
	min-width: 380px;
	height: auto;
	background-color: #CFCFCF;
	background-image: url("../images/bg.png");
	font-family: "LiberationSerifRegular", serif;
	font-style: normal;
	font-weight: normal;
}

nav
{
	height: auto;
	background-color: #444;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	box-shadow: 1px 1px 6px 2px rgba(100,100,100,2.4);
	border-bottom: 4px solid #B2D9C5;
}

nav #btns a
{
	font-family: "Andika New Basic", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	float: right;
	text-decoration: none;
	color: #CCC;
	padding-left: 6px;
	padding-right: 6px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}


nav #btns a:hover {
	color: #B2D9C5;
}

nav #btns a:active {
	color: #EEE;
}

nav #btns a.active-page
{
	color: #444;
	background-color: #B2D9C5;
	font-weight: bold;
	border-bottom: 5px solid #B2D9C5;
	border-top: 5px solid #B2D9C5;
	border-left: 5px solid #B2D9C5;
	border-right: 5px solid #B2D9C5;
}

nav #logo a
{
	font-size: 14pt;
	font-family: "Fira Mono", "Liberation Mono", "Consolas", monospace;
	color: #B2D9C5;
	float: left;
	text-decoration: none;
	margin-left: 16px;
	margin-right: 4px;
	text-shadow: 0px 1px 0px #777;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
}
nav #logo:hover {
	color: #D6D6D6;
}

nav #logo:hover #logo_colored {
	color: #B2D9C5;
}

nav #logo_colored {
	color: #D6D6D6;
}

#content
{
	background-color: #F8F8F8;
	color: #444;
	margin: 0px auto 35px;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	max-width: 1000px;
	height: auto;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		1px 1px 4px 1px rgba(100,100,100,0.4);
	-moz-box-shadow:
		1px 1px 4px 1px rgba(100,100,100,0.4);
	box-shadow:
		1px 1px 4px 1px rgba(100,100,100,0.4);
}

#content p
{
	text-shadow: 0px 1px 0px #FFF;
	font-size: 14pt;
}

code {
	background: #DDD;
	font-family: "Consolas", "Lucida Console", monospace;
	padding: 1px 5px;
	font-size: initial;
}

h1,h2,h3,h4
{
	font-family: "LiberationSerifBold", serif;
	font-weight: bold;
	font-style: bold;
	color: #555;
	text-shadow: 0px 1px 0px #AAA;
}

footer
{
	line-height: 22px;
	height: auto;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #EDEDED;
	font-family: "Andika New Basic", sans-serif;
	font-size: 9pt;
	font-weight: 200;
	color: #444;
	border-top: 2px solid #CACACA;
}
	a.link:link {color: #444; text-decoration: underline;}
	a.link:visited {color: #A80030; text-decoration: underline;}
	a.link:hover {background-color: #B2D9C5; color: #444444; text-decoration: none;}

::selection
{
	background: #444; /* WebKit/Blink Browsers */
	color: #F8F8F8;
	text-shadow: none;
}
::-moz-selection
{
	background: #444; /* Gecko Browsers */
	color: #F8F8F8;
	text-shadow: none;
}
